
.menu-container {
    display: flex;
    gap: 0;
    font-size: 12px;
    color: var(--text-color-darker, #003054);
    font-weight: 400;
    line-height: 150%;
  }

  @media (max-width: 991px) {
    .menu-container {
      flex-wrap: wrap;
    }
  }

  .menu-item {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-color-white, #fff);
    white-space: nowrap;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .menu-item {
      white-space: initial;
    }
  }

  .menu-item-home {
    background-color: var(--accent-grey-lightest-grey, #f6f6f6);
  }